/* ===== RAMOS ===== */

.ramo {
  border-radius: 12px;
  padding: 15px;
  min-height: 110px;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ramo h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
}

.prereq {
  font-size: 12px;
  color: #555;
}

.prereq.libre {
  color: #2e7d32;
  font-weight: bold;
}

/* Estados */

.disponible {
  background-color: #d0e7ff;
  cursor: pointer;
}

.disponible:hover {
  transform: scale(1.04);
}

.aprobado {
  background-color: #c8f7c5;
  border: 2px solid #2e7d32;
}

.bloqueado {
  background-color: #eeeeee;
  color: #999;
  cursor: not-allowed;
}
